[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]

django = "*"
pillow = "*"
"pytest-django" = "*"
coverage = "*"
"pytest-cov" = "*"
selenium = "*"


[dev-packages]