{% extends "app/base.html" %}{% load static %} {% block body %}

<div class='container'>
    <div class='col-lg-6'>
        <img id='comment-image' src="{% static photo.image_url %}" class="img-fluid" alt="Responsive image">
    </div>
    <div class='col-lg-6'>
        <form action="" method="post">
            {% csrf_token %}

            <input class='form-control' type="text" name="comment" placeholder="Add a comment here..." />
        </form>
        {% if photo.commentmodel_set.all %} {% for comments in photo.commentmodel_set.all %}
        <div class="card">
            <div class="card-body">
                {{comments.comment}}
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="card">
            <div class="card-body">
                No comments
            </div>
        </div>
        {% endif %}
        <a href="{% url 'app:feed' %}" class='btn btn-primary'>Back to Feed</a>
    </div>

</div>
{% endblock body %}