{% extends 'app/base.html' %} {% load static %} {% block body %} {% if images %}
<div class='container'>
    <div class="col-lg-6 offset-lg-2">
        {% for image_model in images %}
        <div class="card mb-3">
            <img class="card-img-top" src="{% static image_model.image_url %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{image_model.name}}</h5>
                {% comment "future description once added to models" %}
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                    is a little bit longer.</p>
                {% endcomment %} {% comment "posted date once added to model" %}
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
                {% endcomment %} {% if comments in image_model.comment_set.all %}
                <h6>it is some comments</h6>
                {% else %}
                <h6>No comments</h6>
                {% endif %} {% include "app/comment-form.html" with image=image_model form=CommentForm%}
                <a class="btn btn-primary" href="{% url 'app:edit_photo' id=image_model.id %}" role="button">Edit Photo</a>

            </div>
        </div>

        {% endfor%}
    </div>
</div>
{% else %}
<h1>You have no photos right now add a photo here:</h1>
<a class="btn btn-primary" href="{% url 'app:post_photo' %}" role="button">Post</a>
{% endif %} {% endblock %}