{% extends 'app/base.html' %} {% load static %} {% block body %} {% if images %}
<div class='container'>
    <div class="col-lg-6 offset-lg-2">
        {% for image_model in images %}
        <div class="card mb-3">
            <div class="card-header">
                {{image_model.uploaded_by.username}}
            </div>
            <img class="card-img-top feed-image" src="{% static image_model.image_url %}" alt="Card image cap">
            <div class="card-body">
                {% comment %}
                <h4 class="card-title">{{image_model.name}}</h4> {% endcomment %}
                <p class="card-text">
                    <strong>{{image_model.uploaded_by.username}}</strong>&nbsp;&nbsp;{{image_model.description}}</p>
                {% if image_model.commentmodel_set.all|length > 0 %} {% for comments in image_model.commentmodel_set.all|slice:":3"%}
                <h6>
                    <span class='username-in-feed'>{{comments.commentor.username}}</span>
                    <span class='comment-in-feed'>{{comments.comment}}</span>
                </h6> {% endfor %}

                <a id='more-comments' href="{% url 'app:comment' id=image_model.id %}">all more comments here...</a>
                {% else %}
                <h6>No comments</h6>
                {% endif %} {% if user == image_model.uploaded_by.user %}
                <a class="btn btn-primary btn-sm" href="{% url 'app:edit_photo' id=image_model.id %}" role="button">Edit Photo</a>
                {% endif %}
                <a class="btn btn-primary btn-sm" href="{% url 'app:comment' id=image_model.id %}" role="button">Comment</a>
                {% comment "posted date once added to model" %}
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
                {% endcomment %}

            </div>
        </div>

        {% endfor%}
    </div>
</div>
{% else %}
<h1>You have no photos right now add a photo here:</h1>
<h1>{{user.username}}</h1>
<a class="btn btn-primary" href="{% url 'app:post_photo' %}" role="button">Post</a>
{% endif %} {% endblock %}